.alert-success {
    background-color: green
}

.alert-warning {
    background-color: yellow;
}

.alert-danger {
    background-color: red;
}

.alert-info {
    background-color: teal;
}
nav li{display: inline; background-color: rgb(105, 203, 255);}
nav li a{color: rgb(87, 87, 87)}
input{border-radius: 10%;}
body{
    background-color: rgb(105, 203, 255);
    color: rgb(87, 87, 87);

}